[Unit]
Description=Mesos
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n 
ExecStartPre=/usr/bin/docker pull chriskite/mesos-on-coreos:latest

ExecStart=/usr/bin/bash -c '\
/usr/bin/docker run --rm --name mesos --net=host -p 5050:5050 -p 5051:5051 -p 2181:2181 -e MAIN_IP=`ifconfig eth0 | grep 'inet ' | awk '{print $2}'` -e DOCKER0_IP=`ifconfig docker0 | grep 'inet ' | awk '{print $2}'` -e EXHIBITOR_HOST=$(etcdctl get /services/exhibitor | tr -d '\n') -v /var/lib/docker/btrfs/subvolumes:/var/lib/docker/btrfs/subvolumes -v /var/run/docker.sock:/var/run/docker.sock chriskite/mesos-on-coreos:latest \
'
ExecStop=/usr/bin/docker stop -t 30 %n
Restart=on-failure

[X-Fleet]
Global=true
MachineMetadata=mesos=true
